<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body
        .contenedor-formulario.login
            h1 Inicia sesión en UpTask

             if locals.sms
                .alertas
                    each categoria in Object.keys(locals.sms)
                        each error in sms[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form(action="/iniciar-sesion", method="POST")#formulario.caja.caja-login
                .campo
                    label(for="email") E-mail
                    input(type="email" name="email" placeholder="E-mail" value= email)
                .campo
                    label(for="password") Contraseña
                    input(type="password" name="password" placeholder="Contraseña" value= password)
                .campo.enviar
                    input(type="submit", value="Iniciar Sesión").boton
                .campo.acciones
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis
                    a(href="/reestablecer") Reestablecer Contraseña




