<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu nueva Contraseña

            if locals.sms
                .alertas
                    each categoria in Object.keys(locals.sms)
                        each error in sms[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
                                
            form.caja-login(method="POST")
                .campo
                    label(for="password") Contraseña
                    input(type="password" name="password" placeholder="password" value= password)
                .campo.enviar
                    input(type="submit", value="Cambiar Contraseña").boton
            