<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma tu Cuenta de UpTask
        p Ya esta casi inscrito, solo confirma el botón
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no puede acceder ha este enlace visita #{confirmarUrl}
        p Si no solicitaste este email, puede ignorarlo.