<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu contraseña, haz click en el siguiente enlace para reiniciarla.
        a(href=`${resetUrl}`) Ir a Resetar la contraseña
        p Este enlace es temporal, asi que si caduca vuelve a solicitarlo.
        p Si no puede acceder ha este enlace visita #{resetURL}
        p Si no solicitaste este email, puede ignorarlo.